<div class="bg-white">
  <div class="mx-auto max-w-1920 px-6">
    <%= render profile %>
    <hr>
    <div class="p-4">
      <%= turbo_frame_tag "profile_posts_turbo", data: { turbo_action: :advance } do %>
        <%= render "posts_tabs", profile_user_id: profile.user_id %>
        <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-5 gap-4">
          <%= render partial: "post", collection: posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>
