<% content_for(:title_info, "フォロワー") %>
<div class="bg-white">
  <div class="mx-auto max-w-lg">
    <div class="p-4 space-y-4">
      <div class="flex items-center gap-2">
        <%= link_to :back do %>
          <%= render "shared/icons/back_button", class_list: "icon-small fill-current" %>
        <% end %>
        <h2>フォロワー</h2>
      </div>
      <%= render partial: "follow_user", collection: @users %>
    </div>
  </div>
</div>
