<% content_for(:title_info, "フォロー中") %>
<div class="bg-white">
  <div class="mx-auto max-w-lg">
    <div class="p-4 space-y-4">
      <h2>フォロー中</h2>
      <div class="space-y-2">
        <%= render partial: "follow_user", collection: @users %>
      </div>
    </div>
  </div>
</div>
