<% content_for(:title_info, "フォロー中") %>
<div id="following" class="bg-white">
  <div class="mx-auto max-w-lg">
    <div class="p-4 space-y-4">
      <div class="flex items-center gap-2">
        <%= link_to 'javascript:history.back()', id: "back_button" do %>
          <%= render "shared/icons/back_button", class_list: "icon-small fill-current" %>
        <% end %>
        <h2>フォロー中</h2>
      </div>
      <div>
        <%= turbo_frame_tag "follow_turbo" do %>
          <div class="space-y-2">
            <%= render partial: "follow_user", collection: @users %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
