<% content_for(:title_info, @profile.name) %>
<div class="bg-white">
  <div class="px-6 max-w-7xl mx-auto">
    <%= render @profile %>
    <hr>
    <div class="p-4">
      <%= turbo_frame_tag "profile_posts" do %>
        <%= render "posts_tabs", profile_user_id: @profile.user_id %>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
          <%= render partial: "post", collection: @posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>
