<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false", class="w-full">
    <div class="p-6 border-l-4 border-red-600 rounded-r-xl bg-red-50">
      <div class="flex">
        <div class="flex-shrink-0">
          <%= render "shared/icons/cross", class_list: "icon-small fill-red-400" %>
        </div>
        <div class="ml-3">
          <h3 class="text-red-600">エラー</h3>
          <div class="mt-2">
            <ul class="pl-5 space-y-1 list-disc">
              <% resource.errors.full_messages.each do |message| %>
                <li class="text-red-600"><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
