<% if alert.present? %>
  <div class="bg-white">
    <div class="mx-auto max-w-1920 px-6">
      <div class="p-6 border-l-4 border-red-500 rounded-r-xl bg-red-50">
        <div class="flex">
          <div class="flex-shrink-0">
            <%= render "shared/icons/cross", class_list: "icon-small fill-red-400" %>
          </div>
          <div class="ml-3">
            <div>
              <p class="text-red-600"><%= alert %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
