<% if model.errors.any? %>
  <div class="w-full pb-4 mx-auto max-w-7xl">
    <div class="p-6 border-l-4 border-red-600 rounded-r-xl bg-red-50">
      <div class="flex">
        <div class="flex-shrink-0">
          <%= render "shared/icons/cross", class_list: "w-5 h-5 fill-red-400" %>
        </div>
        <div class="ml-3">
          <h3 class="text-red-600">エラー</h3>
          <div class="mt-2">
            <ul class="pl-5 space-y-1 list-disc">
              <% model.errors.each do |error| %>
                <% unless is_errors_lat_lng?(error.attribute) %>
                  <li class="text-red-600"><%= error.full_message %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
