<div class="font-medium text-green-400 hover:text-green-500 hover:no-underline">
  <% if user_signed_in? %>
    <% unless current_user.same_user?(user_id) %>
      <% if current_user.following?(user_id) %>
        <%= button_to "フォロー中", user_relationships_path(user_id), method: :delete, data: { turbo_confirm: 'フォローをやめますか?' } %>
      <% else %>
        <%= button_to "フォローする", user_relationships_path(user_id) %>
      <% end %>
    <% end %>
  <% end %>
</div>
