<%= search_form_for q, url: search_posts_path, class: "flex items-center" do |f| %>
  <div class="relative w-full">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3">
      <%= render "shared/icons/search", class_list: "icon-small fill-current" %>
    </div>
    <%= f.label :title_or_location_cont, class: "sr-only" %>
    <%= f.search_field :title_or_location_cont, class: "header-search-bar", placeholder: "投稿を検索", required: true %>
  </div>
<% end %>
