<div>
  <%= link_to new_post, class: "group relative mb-2 block h-80 overflow-hidden rounded-lg bg-gray-100 lg:mb-3" do %>
    <%= image_tag new_post.image.variant(resize_to_limit: select_image_size("small")), class: "h-full w-full object-cover object-center transition duration-200 group-hover:scale-105" %>
  <% end %>
  <%= link_to new_post.title, new_post, class: "normal-link" %>
</div>
