<div class="bg-white">
  <div class="mx-auto max-w-7xl">
    <div class="p-6 space-y-6">
      <h2>撮影スポットマップ</h2>
      <div id="map" class="h-72 md:h-600" data-posts=<%= @posts_json %>></div>
    </div>
    <div class="p-6 space-y-6">
      <div class="flex items-center justify-between">
        <h2>新着投稿</h2>
        <%= link_to "さらに表示", search_posts_path, class: "see-more-button" %>
      </div>
      <%= render "images_layout", new_posts: @new_posts %>
    </div>
  </div>
</div>
