<%= turbo_frame_tag "image_layout" do %>
  <div class="columns-1 gap-2 sm:columns-2 lg:columns-4 [&>a:not(:first-child)]:mt-2">
    <% posts.each do |post| %>
      <%= link_to post, class: "group flex relative items-end block shadow-lg bg-gray-100 overflow-hidden", data: { turbo_frame: "_top" } do %>
        <%= image_tag post.image.variant(resize_to_limit: [1000, 1000]), loading: "lazy" %>
        <div class="title-base absolute transition duration-300 opacity-0 group-hover:opacity-100">
          <span class="text-white"><%= post.title %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
