<%= search_form_for q, url: search_posts_path, html: { data: { turbo_frame: "image_layout" } }, class: "mb-4 flex gap-4 flex-wrap justify-between" do |f| %>
  <%= render "search_bar", f: f %>
  <div class="flex gap-4">
    <%= render "category_menu", f: f, categories: categories %>
    <%= render "sorts", f: f %>
  </div>
<% end %>
