<% content_for(:title_info, "検索") %>
<div class="p-5 sm:p-8">
  <h2 class="mb-4">検索</h2>
  <%= render "search_form", q: @q, categories: @categories %>
  <%= turbo_frame_tag "images_layout" do %>
    <div class="columns-1 gap-2 sm:columns-2 lg:columns-4 [&>a:not(:first-child)]:mt-2">
      <%= render @posts %>
    </div>
  <% end %>
</div>
