<div class="bg-gray-100 p-4">
  <div class="m-auto max-w-7xl">
    <%= render "post_main", post: @post %>
    <div class="flex flex-col flex-wrap gap-4 mt-4 lg:flex-row">
      <%= render "post_detail", post: @post %>
      <%= render "comments", post: @post, comments: @comments, new_comment: @comment %>
    </div>
  </div>
</div>
