<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
<div class="p-4 space-y-4">
  <p>Pinspotへようこそ <%= @email %>!</p>
  <p>アカウントメールの確認は、以下のリンクから行えます：</p>
  <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class:"normal-link" %>
</div>
