<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
<div class="p-4 space-y-4 text-sm">
  <p>こんにちは <%= @resource.email %>!</p>
  <p>パスワードを変更は以下のリンクから行うことができます。</p>
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class:"inline-block text-sm font-semibold hover:text-green-400" %>
  <p>パスワード変更を希望していない場合は、このメールを無視してください。</p>
  <p>パスワードは、上記のリンクにアクセスし、新しいものを作成するまで変更されることはありません。</p>
</div>
