<% content_for(:title_info, "アカウント設定") %>
<div class="bg-gray-50 md:h-screen">
  <div class="flex justify-center gap-24 py-8 px-6 md:py-24">
    <div class="bg-white p-6 sm:max-w-md w-full rounded-lg">
      <div class="space-y-4">
        <h2>アカウント設定</h2>
        <div>
          <p class="mb-2 font-medium">Eメール</p>
          <p><%= current_user.email %></p>
        </div>
        <div>
          <p class="mb-2 font-medium">パスワード</p>
          <p>••••••••</p>
        </div>
        <div class="flex gap-2">
          <%= link_to "変更", edit_user_registration_path, class: "link-button" %>
          <%= button_to "削除", user_registration_path, method: :delete, data: { turbo_confirm: '本当に削除しますか?' }, class: "delete-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
